# Ignore all system and personal files
/.ICEauthority
/.Xauthority
/.Xdefaults
/.bash_history
/.bash_logout
/.bashrc
/.cache/
/.config/
/.dmrc
/.dotnet/
/.gitconfig
/.lesshst
/.local/
/.pki/
/.profile
/.ssh/
/.sudo_as_admin_successful
/.vboxclient-clipboard-tty7-control.pid
/.vboxclient-clipboard-tty7-service.pid
/.vboxclient-draganddrop-tty7-control.pid
/.vboxclient-draganddrop-tty7-service.pid
/.vboxclient-hostversion-tty7-control.pid
/.vboxclient-seamless-tty7-control.pid
/.vboxclient-seamless-tty7-service.pid
/.vboxclient-vmsvga-session-tty7-control.pid
/.vboxclient-vmsvga-session-tty7-service.pid
/.vscode/
/.wget-hsts
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/Desktop/
/Downloads/
/Pictures/
/Templates/

# Add more specific patterns for other irrelevant files or directories
