*{
    background-color: #f7f8f8;
}

.navbar{
    background-color: #373737;
}

.navbar #del-logo{
    background-color: transparent;
    height: 150px;
    margin: 10px;
    margin-left: 220px;
    margin-top: 15px;
}

